<!DOCTYPE html>
<html>
<head>

    <title>EduPlatform - Главная</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../../../static/css/style.css" rel="stylesheet">
</head>

<body>

<!-- Шапка -->

    <header>
        <nav>
            <table class="test">

                <tr>
                    <td>
                        <b>EduPlatform</b>
                    </td>
                    <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Action
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                          </ul>
                        </div>
                    </td>
                    <td>
                        <button style="font-size: 16px; padding: 8px 16px; cursor: pointer;">Поиск</button>
                    </td>
                    <td>
                        <button style="font-size: 16px; padding: 8px 16px; cursor: pointer;">Аккаунт</button>
                    </td>
                </tr>
            </table>
        </nav>
    </header>

    <main>
    <hr>

    <br><br><br>

    <!-- Три основных блока -->

        <table>
            <tr>
                <td>
                    <!-- ОГЭ -->
                    <table>
                        <tr>
                            <td>
                                <b>ОГЭ</b>
                                <br><br>
                                Полная подготовка<br>к ОГЭ 2025
                                <br><br>
                                <button type="button" class="btn btn-info">Начать</button>
                            </td>
                        </tr>
                    </table>
                </td>

                <td>
                    <!-- Учебники -->
                    <table>
                        <tr>
                            <td>
                                <b>Учебники</b>
                                <br><br>
                                Бесплатные учебники<br>по всем предметам
                                <br><br>
                                <button type="button" class="btn btn-info">Открыть</button>
                            </td>
                        </tr>
                    </table>
                </td>

                <td>
                    <!-- ЕГЭ -->
                    <table>
                        <tr>
                            <td>
                                <b>ЕГЭ</b>
                                <br><br>
                                Подготовка к ЕГЭ<br>2025 года
                                <br><br>
                                <button type="button" class="btn btn-info">Начать</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


    <br><br><br>

    <!-- Дополнительная информация -->

        <table>
            <tr>
                <td>
                    ✓ Более 1000 тестов
                </td>
                <td>
                    ✓ 500+ видеоуроков
                </td>
                <td>
                    ✓ Онлайн репетиторы
                </td>
            </tr>
        </table>


    <br><br><br>

    <hr>
    </main>
<!-- Подвал -->
    <footer>

        <p>
            EduPlatform © 2025 |
            <a href="#">Политика конфиденциальности</a> |
            <a href="#">Условия использования</a>
        </p>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>



